<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@6af93788]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@6af93788]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro1()[pri:1, instance:com.selenium.test.parallel@6af93788]">testPro1</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro10()[pri:13, instance:com.selenium.test.parallel@6af93788]">testPro10</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro11()[pri:14, instance:com.selenium.test.parallel@6af93788]">testPro11</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro12()[pri:15, instance:com.selenium.test.parallel@6af93788]">testPro12</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro13()[pri:16, instance:com.selenium.test.parallel@6af93788]">testPro13</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro14()[pri:17, instance:com.selenium.test.parallel@6af93788]">testPro14</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro2()[pri:2, instance:com.selenium.test.parallel@6af93788]">testPro2</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro3()[pri:3, instance:com.selenium.test.parallel@6af93788]">testPro3</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro4()[pri:4, instance:com.selenium.test.parallel@6af93788]">testPro4</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-94</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro5()[pri:5, instance:com.selenium.test.parallel@6af93788]">testPro5</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-85</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro6()[pri:6, instance:com.selenium.test.parallel@6af93788]">testPro6</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-75</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro61()[pri:7, instance:com.selenium.test.parallel@6af93788]">testPro61</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-66</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro62()[pri:8, instance:com.selenium.test.parallel@6af93788]">testPro62</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro63()[pri:9, instance:com.selenium.test.parallel@6af93788]">testPro63</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro7()[pri:10, instance:com.selenium.test.parallel@6af93788]">testPro7</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro8()[pri:11, instance:com.selenium.test.parallel@6af93788]">testPro8</td> 
  <td>main@2131670196</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/04/26 15:13:35</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro9()[pri:12, instance:com.selenium.test.parallel@6af93788]">testPro9</td> 
  <td>main@2131670196</td>   <td></td> </tr>
</table>
